@model ProductListViewModel

<h2>@Model.CurrentCategory</h2>
@foreach (var product in Model.Products)
{
    <div>
        <h5>@product.ProductId </h5>
        <h3>@product.ProductName </h3>
        <h3>@product.Price.ToString("c") </h3>
        <h4>@product.Category.CategoryName </h4>
    </div>
}